<div class="container text-center">
    <h1>About Page.</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    developers and enterpreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, sit vitae quo facilis consequuntur officia eos distinctio. Consequatur velit adipisci consectetur voluptate dignissimos eius quod recusandae fugiat iusto ipsam. Dolore.</p>
</div>    